# Environnements virtuels
.venv/
venv/

# Python
__pycache__/
*.pyc

# Données
*.csv
!climatechange_corpus_new.csv
!discours_US.csv
data/

# Jupyter
.ipynb_checkpoints/

# Environnement
.env

# OS
.DS_Store
Thumbs.db
